.features
    background-color: $color-gray-light
    grid-column: main-start / main-end
    display: grid
    padding: 15rem 0rem
    gap: 3rem 4rem
    grid-template-columns: repeat(auto-fill, minmax(346px, 1fr))
.feature
    display: grid
    grid-template-columns: 6.5rem 1fr
    transition: all .3s
    &:hover > &__icon
        transition: all .3s
        transform: translateY(10%) scale(1.1)
    &__description
        //sds
    &__icon
        width: 4.5rem
        height: 4.5rem
    &__header
        margin: 1.3rem 0rem
        font-size: 19px
        text-align: left
        letter-spacing: 0rem
        color: $color-green-dark
    &__text
        color: $color-green-dark