// Clear falling for blocks which is next after float block
@mixin clearfix
    &::after
        content: ''
        display: table
        clear: both
@mixin phone
    @media ( max-width: 450px )
        @content
@mixin laptop
    @media ( max-width: 1150px )
        @content
@mixin pc
    @media ( max-width: 1300px )
        @content
@mixin table
    @media ( max-width: 850px )
        @content
@mixin min_table
    @media ( max-width: 570px )
        @content
@mixin dpi
    @media (min-resolution: 192dpi) and (min-width: 900px)
        @content
@mixin large_resolution
    @media (min-width: 1300px)
        @content
    